<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Ticker Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ticker_dashboard_style.css') }}">
</head>
<body>
    <h1>Dashboard</h1>
    
    <p>Currently viewing: <span id="tickerName"></span></p>

    
    <!-- Image tag for displaying the plot -->
    <div>
    <img id="dynamicImage" src="" alt="Image 1">
    </div>
    <!-- Button to call /base/<ticker>/ -->
    <button onclick="goHome()">Home</button>
    <button onclick="goToBase()">Go to Base</button>
    <button onclick="analyzeTicker()">Analyze</button>
    <script>
        // Function to extract the ticker from the URL
        function getTickerFromUrl() {
            var pathArray = window.location.pathname.split('/');
            return pathArray[2]; // Assuming the URL is like /stock/<ticker>/
        }
        // Display the ticker
        var ticker = getTickerFromUrl();
        document.getElementById('tickerName').textContent = ticker;
        // Set the image source based on the ticker
        document.getElementById('dynamicImage').src = "/static/" + ticker + "_base.png";
        // Function to redirect to /base/<ticker>/
	function goHome() {
	    window.location.href = '/'
	}
	function goToBase() {
            window.location.href = '/base/' + ticker + '/';
        }
	function analyzeTicker() {
            window.location.href = '/analyze/' + ticker;
        }
    </script>
</body>
</html>
